/* css code for displaying the user information */
.user-details {
    display: flex; /* display is flex */
    justify-content: center; /* items are horizontally aligned to center */
}

/* css code for edit icon */
#edit {
    margin-bottom: 25px; /* margin on bottom side is 25px */
}

/* css code for update button inside the edit modal */
#update {
    margin-top: 20px; /* margin on top side is 20px */
}

/* css code for changing the color of like button to red when user clicks on it */
.red {
    color: red;
}

/* css code for not displaying required message when user enters value inside the input field */
.dispNone {
    display: none; /* display is none */
}

/* css code for displaying required message when user tries to submit the modal without value inside the input field */
.dispBlock {
    display: block; /* display is block */
}

/* css code for displaying comments inside the imagepost modal */
.display-comments {
    min-height: 50px; /* minimum height of the div is 50px */
    margin-bottom: 20px; /* margin on bottom side is 20px */
}

/* css code for like and comment div */
.like-and-comment-div {
    margin-top: 175px; /* margin on top side is 175px */
}

/* css code for comment input text field */
.commentInputDiv {
    display: flex; /* display flex */
}

/* css code for displaying modal in the center of the page */
.imagePostModalCard {
    display: flex; /* diplay is flex */
    position: absolute; /* position is absolute */
    width: 60vw; /* width of the modal is 60% of total view width */
    padding: 16px; /* padding 16px in all four sides */
    outline: none; /* no outline */
    top: 50%; /* top 50% space */
    left: 50%; /* left 50% space */
    transform: translate(-50%, -50%); 
}

/* css code for screen size from 480px to 715px */
@media screen and (max-width: 715px) and (min-width: 480px) {
    /* changes the modal width t0 90% of view width */
    .imagePostModalCard {
        width: 90vw;
    }
    .like-and-comment-div {
        margin-top: 0px;
    }
}