.app-header {
    background-color: #263238;
    height: 80px;
    display: flex;
    align-items: center;
}

.app-logo {
    color: #fff;
    margin: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 1;
} 

.searchBox {
    border-radius: 4px;
    width: 300px;
    background-color: #c0c0c0;
    display: flex;
}

.searchIcon {
    display: flex;
    align-items: center;
    margin: 2px;
}

.searchInput {
    width: 90%;
}

.MuiPopover-paper {
    left: 1285px;
    margin: 5px;
    width: 140px;
}

.MuiMenu-list {
    display: block;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(223, 223, 223);
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}